imageio
pandas
scikit-learn>=0.22
tslearn
pyts
scikit-image
keras
tensorflow
category_encoders
lightgbm
packaging>=21.0
IPython
jax
cvxpy

#dpg dependencies
tdqm
graphviz
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
pyyaml